.main__subtitle{
    text-align: center;
    padding-top: 30px;
}

.main__containerpublicity{
    padding-top: 50px;
}

.main__titlepublicity{
    font-size: 14px;
    text-align: center;
}

.main__containslider{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: #e7eaec;
    display: flex;
}

.main__banner{
    height: 60px;
}

.main__productsslider{
    display: flex;
    width: 1650px;
    padding: 15px 7.5px;
    overflow: hidden;
}

.carousel {
    position: relative;
    margin: 5px 2.5px;
    width: 252.25px;
}


.main__imgslider{
    width: 30%;
    background-size: contain;
    background-position:center right;
    background-repeat: no-repeat;
    background-image:url(https://www.venex.com.ar/mods/html/fil/Model/SpecialSlide/1/612660e32efa5-notebooks.jpg);
}

.main__imgslider1{
    width: 30%;
    background-size: contain;
    background-position:center right;
    background-repeat: no-repeat;
    background-image:url(https://www.venex.com.ar/mods/html/fil/Model/SpecialSlide/3/612662d2dcd64-destacados-gamer.jpg);
}

.main__imgslider2{
    width: 30%;
    background-size: contain;
    background-position:center right;
    background-repeat: no-repeat;
    background-image:url(https://www.venex.com.ar/mods/html/fil/Model/SpecialSlide/6/6126624f31c35-almacenamiento.jpg);
}

.main__imgslider3{
    width: 30%;
    background-size: contain;
    background-position:center right;
    background-repeat: no-repeat;
    background-image: url(https://www.venex.com.ar/mods/html/fil/Model/SpecialSlide/4/612663b78d994-tech.jpg);
}

.main__imgslider4{
    width: 30%;
    background-size: contain;
    background-position:center right;
    background-repeat: no-repeat;
    background-image: url(../imagenes/Sillagamerpagina.png);
}

.main__sliderproduct{
    display: block;
    margin: 0;
    width: 100%;
    position: relative;
    z-index: 1;
}

.main__sliderflow{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
}

.main__productsbox{
    position: relative;
    width: 2292px;
}

.main__productflex{

}

.main__product-box{
    padding: 15px;
    background: linear-gradient(to bottom, #FFFFFF, #D6D6D6);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.main__gimgcontainer{
    width: 100%;
    position: relative;
}

.main__product{
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-bottom: 94.66666667%;
}

.main__boxpricename{
    padding: 35px 23px 10px;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #fff;
}

.main__boxpricename-content{
    font-size: 24px;
    text-align: center;
    color: #333333;
}

.main__tamaño{
    background: linear-gradient(to bottom, #FFFFFF, #D6D6D6);
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.main__productdescription{
    color: #37373f;
    font-size: 23px;
}

.main__productdescription1{
    color: #37373f;
    font-size: 23px;
}

.main__productcontainer{
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.main__color{
    background-color: #2d2d33;
}


.main__subtitle1{
    background-color: #2d2d33;
    color:#e7eaec;
    padding: 25px;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}

.main__subtitle2{
    background: #fff;
    text-align: center;
    padding: 25px;
}

