.main__h2correction{
    font-size: 1.5em;
}


.main__psubtitle{
    font-size: 26px;
    color: #424143;
    padding: 50px;
    padding-left: 100px;
}

.main__slidebar{
    line-height: 33px;
}

.main__a{
    color: #666;
    font-size: 12px;
    text-decoration: none;
}

.main__a1{
    color: #666;
    cursor: pointer;
    font-size: 13px;
    grid-area: ele1;
    text-decoration: none;
}
.main__a2{
    color: #666;
    cursor: pointer;
    font-size: 13px;
    grid-area: ele1;
    text-decoration: none;
}
.main__a3{
    color: #666;
    cursor: pointer;
    font-size: 13px;
    grid-area: ele1;
    text-decoration: none;
}    

.main__a4{
    color: #666;
    cursor: pointer;
    font-size: 13px;
    grid-area: ele1;
    text-decoration: none;
}    

.main__a5{
    color: #666;
    cursor: pointer;
    font-size: 13px;
    grid-area: ele1;
    text-decoration: none;
}    

.main__a6{
    color: #666;
    cursor: pointer;
    font-size: 13px;
    grid-area: ele1;
    text-decoration: none;
}    

.main__a7{
    color: #666;
    cursor: pointer;
    font-size: 13px;
    grid-area: ele1;
    text-decoration: none;
}    

.main__a8{
    color: #666;
    cursor: pointer;
    font-size: 13px;
    grid-area: ele1;
    text-decoration: none;
}

.main__a9{
    color: #666;
    cursor: pointer;
    font-size: 13px;
    grid-area: ele1;
    text-decoration: none;
}    

.main__pcontainer{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "ele1 ele2 ele3 ele8" /*fila 1*/
    "ele1 ele4 ele5 ele10" /*fila 2*/
    "ele1 ele6 ele7 ele9" /*fila 3*/
    ;

    padding: 0px 50px;
    font-size: 14px;
}

.main__ppadre{

}

.main__phijo{  
    grid-area: ele2;
    background: #ffffff;
}
.main__phijo1{
    grid-area: ele3;
    background: #ffffff;
}
.main__phijo2{
    grid-area: ele4;
    background: #ffffff;
}
.main__phijo3{
    grid-area: ele5;
    background: #ffffff;
}
.main__phijo4{
    grid-area: ele6;
    background: #ffffff;
}

.main__hijo5{
    grid-area: ele7;
    background: #ffffff;
}



.main__ppublicidad-item1{
    grid-area: ele8;
}

.main__ppublicidad-item2{
    grid-area: ele9;
    margin: 10px 0;
}

.main__phover1:hover{
    color: #000;
}

.main__phover:hover{
    color: #000;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 1.9);
}

.main__price{
    margin: 15px 0;
    color: #000;
    font-family: granRegular;
    font-size: 20px;
}

.main__price1{
    font-size: 18px;
}

.main__buttoncarrito{
    background-color:#0071c9;
    border: 2px solid transparent;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
}





/*     NUEVO PRODUCTOS  */



.main__newcontainer{
    margin: 0 auto;
    max-width: 1280px;
    padding: 50px 0;
}

.main__products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__slidebar{
    width: 20%;
    padding-left: 30px;
}

.space{
    padding-top: 35px;
}

.main__h2correction1{
    font-size: 18px;
    font-weight: bold;
}

.products{
    width: 78%;
}

.products_list{
    display: flex;
    flex-wrap: wrap;
}

.list__item{
    width: 100%;
}

.product{
    align-items: flex-start;
    background-color: #fff;
    border-bottom: 2px solid #eae6e6;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    text-decoration: none;
}

.image{
    width: 20%;
}

.info{
    margin: 0 0 0 10px;
    width: 75%;
}

.product__title{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.main__price1{
    margin: 15px 0;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.price__promo{
    color: #b7b7b7 ;
    text-decoration: line-through;
}

.main__gitemcontainer1{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.main__goutline1{
    background-color: #0071c9;
    border: 2px solid transparent;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    padding: 8px;
    text-align: center;
    margin: 0 15px 0 0;
}

.main__goutline2{
    background-color: #fff;
    border: 2px solid #0077f9;
    border-radius: 4px;
    color: #0077f9;
    cursor: pointer;
    display: block;
    font-size: 18px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    
}

.main__gitem1{
    width: 39%;
}

.dropdown{
    position: unset;
    display: none !important; 
}
